.box {
  width: 100%;
  min-height: 7.4rem;
  padding: 2rem 4rem;

  display: flex;
  align-items: center;

  background-color: #111827;
  border: 1px solid #1f2937;
  border-radius: 0.6rem;
}

@media (max-width: 700px) {
  .box {
    padding: 1.8rem 2rem;
  }
}
